:root {
  --clr-green-neon: hsl(83, 100%, 54%);
  --clr-orange-neon: hsl(30, 100%, 54%);
  --clr-pink-neon: hsl(318, 100%, 54%);
  --clr-bg: hsl(192, 71%, 19%);
}

nav {
  font-size: 1.5em;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-shadow: inset 0 0 0.2em 0 var(--clr-orange-neon),
    0 0 0.9em var(--clr-orange-neon);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  display: block;
}

.navbar-links li:hover {
  background-color: hsla(192, 72%, 39%, 0.735);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* NAVBAR END */

.flex {
  display: flex;
  gap: 1rem;
}

.main-page {
  align-items: center;
  justify-content: space-evenly;
}

body {
  margin: 0;
  display: flex;
  background: var(--clr-bg);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button {
  display: flex;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.2em 0 var(--clr-orange-neon),
    0 0 0.9em var(--clr-orange-neon);
}

button:hover {
  cursor: pointer;
}

.navbar {
  font-size: 1.3rem;
  color: rgb(0, 174, 255);
  text-shadow: 0 0 0.105em var(--clr-orange-neon);
}

h1 {
  font-size: 10rem;
  color: rgb(0, 174, 255);
  text-shadow: 0 0 0.105em var(--clr-orange-neon);
  margin: 0;
}

p {
  font-size: 2rem;
  color: rgb(0, 174, 255);
  text-shadow: 0 0 0.105em black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.button {
  background-color: var(--clr-bg);
  color: var(--clr-orange-neon);
  border: var(--clr-orange-neon) 0.125em solid;
  font-size: 3rem;
  text-decoration: none;
  padding: 0.25 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em currentColor;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  background: currentColor;
  top: 120%;
  left: 0%;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
  filter: blur(1em);
  opacity: 0.7;
}

.button:hover,
.button:focus {
  background: var(--clr-orange-neon);
  color: var(--clr-bg);
  text-shadow: none;
  cursor: pointer;
  /* box-shadow: 0 0 0.5em 0 currentColor; */
}

@media (max-width: 1600px) {
  canvas {
    max-height: 100vh;
    max-width: 100vw;
  }
}

@media (max-width: 767px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links {
    text-align: center;
  }

  .navbar-links ul a {
    padding: 0.5rem 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links.active {
    display: flex;
  }

  body {
    margin: 0;
    display: flex;
    background: var(--clr-bg);
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  button {
    display: flex;
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.2em 0 var(--clr-orange-neon),
      0 0 0.9em var(--clr-orange-neon);
  }

  button:hover {
    cursor: pointer;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(0, 174, 255);
    text-shadow: 0 0 0.105em var(--clr-orange-neon);
    margin: 0;
  }

  p {
    font-size: 1rem;
    color: rgb(0, 174, 255);
    text-shadow: 0 0 0.105em black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .button {
    background-color: var(--clr-bg);
    color: var(--clr-orange-neon);
    border: var(--clr-orange-neon) 0.125em solid;
    font-size: 3rem;
    text-decoration: none;
    padding: 0.25 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsla(0, 0%, 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em currentColor;
    position: relative;
  }

  .button::before {
    content: "";
    position: absolute;
    background: currentColor;
    top: 120%;
    left: 0%;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
    filter: blur(1em);
    opacity: 0.7;
  }

  .button:hover,
  .button:focus {
    background: var(--clr-orange-neon);
    color: var(--clr-bg);
    text-shadow: none;
    cursor: pointer;
    /* box-shadow: 0 0 0.5em 0 currentColor; */
  }

  canvas {
    max-height: 100vh;
    max-width: 100vw;
  }
}

@media screen and (orientation: landscape) {
  canvas {
    max-height: 100vh;
    max-width: 100vw;
  }
}
